* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "微软雅黑";
}

.clear {
    clear: both;
}

.clear:after {
    clear: both;
    content: "";
    display: block;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: middle;
    border: 0;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.left {
    float: left;
}

.right {
    float: right;
}

@font-face {
    font-family: 'MiFie-Web-Font';
    src: url('../../assets/fonts/MiFie-Web-Font.eot?fb74vg');
    src: url('../../assets/fonts/MiFie-Web-Font.eot?fb74vg#iefix') format('embedded-opentype'),
    url('../../assets/fonts/MiFie-Web-Font.ttf?fb74vg') format('truetype'),
    url('../../assets/fonts/MiFie-Web-Font.woff?fb74vg') format('woff'),
    url('../../assets/fonts/MiFie-Web-Font.svg?fb74vg#MiFie-Web-Font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'MiFie-Web-Font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 3px;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
    content: "\e900";
}

.icon-like:before {
    content: "\e901";
}

.icon-send:before {
    content: "\e902";
}

.icon-self:before {
    content: "\e903";
}

.icon-index:before {
    content: "\e904";
}

.icon-back:before {
    content: "\e905";
}

.icon-msg:before {
    content: "\e906";
}

.icon-watch:before {
    content: "\e907";
}

.markdown-text{
    font-size: 14px;
}

.markdown-text p {
    text-indent: 2em;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
}

.markdown-text p a {
    display: inline-block;
    word-wrap: break-word;
}
.markdown-text pre{
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    background-color: #ebebeb;
}
.markdown-text pre code{
    width: 100%;
    font-size: 15px;
}

.topics .icon-back:before {
    line-height: 50px;
}

.prettyprint code {
    width: 100%;
}

.con .markdown-text p{
    text-indent: 0;
}

.loading {
    width: 100%;
    height: 50px;
    margin-top: 20px;
}